<html>

<head>
  <title>{% block title %}{% endblock %}ignosis SQL Editor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='codemirror.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='codemirror-theme-eclipse.min.css') }}">
  <!-- boxicons cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>

  <header class="header">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="ignosis SQL Editor" class="logo">
  </header>

  <main class="content">
    {% block content %}{% endblock %}
  </main>
  <script type="text/javascript" src="{{ url_for('static', filename='codemirror.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='codemirror-sql.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='codemirror-sql-hint.min.js') }}"></script>
  <script>
    const myTextarea = document.querySelector('#sql-textarea')
    CodeMirror.fromTextArea(myTextarea, {
      lineNumbers: true,
      mime: 'text/x-sqlite',
      mode: 'sql',
      indentWithTabs: true,
      smartIndent: true,
      lineNumbers: true,
      matchBrackets: true,
      autofocus: true,
      theme: 'eclipse'
    });
  </script>
</body>

</html>