{% extends 'index.html' %}
{% block content %}
<section class="editor_section">
  <div class="container">
    <div class="editor_section-inner">
      <div class="card tables-card">
        <div class="card-header has-tools">
          <h3 class="card-title">Select Table</h3>
          <div class="card-header_tools">
            <button id="open-modal" class="btn btn-light has-icon-only reset-button" title="Reset"><i
                class='bx bx-refresh btn-icon'></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="tables-list">
            {%if table_names and table_names_count > 0 %}
            {%for index in range(0, table_names_count)%}
            <form action="" method="post">
              <input name="selected_table_name" type="hidden" value="{{table_names[index][0]}}" />
              <button id="{{table_names[index][0]}}" class="btn table-btn" type="submit" name="statement"
                value="SELECT * FROM {{table_names[index][0]}}">
                <span class="table-icon"><i class='bx bx-table'></i></span>
                <span class="table-info">
                  <span class="table-name">{{table_names[index][0]}}</span>
                  <span class="table-items-count">Items: <b>{{table_names[index][1]}}</b></span>
                </span>
              </button>
            </form>
            {%endfor%}
            {%endif%}
          </div>
        </div>
      </div>
      <!-- end tables card -->

      <div class="tables-list-mobile">
        <form id="mobile-table-form" action="" method="post">
          <select class="text-center" name="selected_table_name_mobile_query" onchange="mobileTableFormHandler()">
            <option value="none" selected disabled hidden>-Select Table-</option>
            {%if table_names and table_names_count > 0 %}
            {%for index in range(0, table_names_count)%}
            <option value="SELECT * FROM {{table_names[index][0]}}">
              {{table_names[index][0]}}
            </option>
            {%endfor%}
            {%endif%}
          </select>
        </form>
      </div>
      <!-- end tables list mobile -->

      <div class="card editor-card">
        <div class="card-header">
          <h3 class="card-title">Edit SQL Statement</h3>
          <span class="card-subtitle">Edit the SQL Statement, and <b>Run</b> to see the result.</span>
        </div>
        <div class="card-body">
          <form class="form" method="post" name="sql-statement" action="">
            <div class="sandbox-container">
              <textarea name="statement"
                id="sql-textarea">{%if sql_query%}{{sql_query}}{% else %}SELECT * FROM{% endif %}</textarea>
            </div>
            <div class="sandbox-actions">
              <button class="btn btn-primary btn-rounded has-icon" type="submit"><i
                  class='bx bx-play btn-icon'></i>Run</button>
              <button id="open-modal-mobile" class="btn btn-light btn-rounded has-icon reset-button" type="button"><i
                  class='bx bx-refresh btn-icon'></i>Reset</button>
            </div>
          </form>
        </div>
      </div>
      <!-- end editor card -->
    </div>
  </div>
</section>
<!-- end editor section -->

<section class="result_section">
  <div class="container">
    {% if data %}
    <div class="card result-card">
      <div class="card-header">
        <h3 class="card-title has-icon"><i class='bx bx-list-ul card-title_icon'></i> Results</h3>
        {% if data['header'] and data['body'] %}
        <span class="badge-light"><b>{{data_count}}</b> items</span>
        {% endif %}
      </div>
      <div class="card-body">
        {% if data['header'] and data['body'] %}
        <div class="table-wrapper">
          <table class="table">
            <thead>
              {% for item in data['header'] %}
              <th>{{item}}</th>
              {% endfor %}
            </thead>
            <tbody>
              {% for row in data['body'] %}
              <tr>
                {% for item in row %}
                <td>{{item}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% elif data['error'] %}
        <div class="data-error-wrapper">
          <div class="error-icon"><i class='bx bx-error-alt'></i></div>
          <p>{{data['error']}}</p>
        </div>
        {% endif %}
      </div>
    </div>
    {%else%}
    <div class="no-results-wrapper">
      <p>Click <strong>"Run SQL"</strong> to execute the SQL statement above.</p>
    </div>
    {% endif %}
  </div>
</section>
<!-- end result section -->


<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="warning-icon">
      <i class='bx bx-error'></i>
    </div>
    <p class="text-center">
      This action will restore database back to its original content. <br>
      <b>Do you want to continue?</b>
    </p>
    <div class="modal-actions">
      <form method="post" action="reset">
        <button id="reset-database-button" class="btn has-icon btn-outline-danger" type="submit">
          <i class='bx bx-check btn-icon'></i>
          Yes</button>
      </form>
      <button id="close-modal" class="btn reset-button has-icon">
        <i class='bx bx-x btn-icon'></i>
        No</button>
    </div>
  </div>
</div>

<script>
  const modal = document.getElementById("myModal");
  const openModalButton = document.getElementById("open-modal");
  const openModalMobileButton = document.getElementById('open-modal-mobile')
  const closeButton = document.getElementById("close-modal");

  openModalButton.onclick = function () {
    modal.style.display = "flex";
  }

  // When the user clicks on <span> (x), close the modal
  closeButton.onclick = function () {
    modal.style.display = "none";
  }

  openModalMobileButton.onclick = function () {
    modal.style.display = "flex";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  const selected_table = "{{selected_table}}"
  const btn = document.getElementById(selected_table);
  if (btn) {
    btn.classList.add('btn-active');
  }

  function mobileTableFormHandler() {
    const form = document.getElementById('mobile-table-form')
    form.submit();
  }
</script>
{% endblock %}